@import './src/styles';

footer {
  position: absolute;
  bottom: -$footer-height;
  width: 100%;
  background-color: $background-dark;
  color: #808080;

  .row {
    min-height: 5rem;
  }

  .row:first-child {
    min-height: 10rem;
  }

  a {
    color: $light-primary-color;
    cursor: pointer;
    margin: 0 0.75rem;
  }
}