<section class="container">
    <div class="row">
      <div class="col">
        <p>
          The source code is available in GitHub, so you don't need to trust our compromise 
          with privacy, you can just check it out ;)
        </p>
        <p>
          Have a look into the <a routerLink="/docs">manual</a> to learn how to compile the app directly from the source.
        </p>
        <div class="github-link fade-up d-flex align-items-center flex-column">
          <a href="https://github.com/david-sa/PrivateSharing">
            <i class="fa fa-github"></i>
          </a>
          <p><i class="footnote">(Click here to go to the code)</i></p>
        </div>
        <p>
          If you want to collaborate with us in the development of PrivateSharing, 
          we will love to look at your pull request!
        </p>
        <p>
          In the <a routerLink="/docs">Developers Guide</a> you will find a few guidelines to improve the chances
          of your PR being merged into the existing codebase.
        </p>
      </div>
    </div>
  </section>