@import './src/styles';

.row, .app-stores {
  margin-top: 50px;
  padding-bottom: 50px;
}

img {
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: content-box;
  margin-bottom: 1rem;
}

img:hover {
  border: 1px solid $primary-color;
  border-radius: 10px;
}
