<section class="container">
  <div class="row">
    <div class="col">
      <p>Choose the platform corresponding to your device and install the app, 
        it will take you less than a minute.
      </p>
      <app-popover #popover></app-popover>
      <div class="d-flex justify-content-around app-stores">
        <img class="fade-up" src="/assets/images/app/BlueStore.png"
          [popoverTitle]="popover.title"
          [ngbPopover]="popover.template"
          placement="top">
        <img class="fade-up" style="transform: 'translateY(100px)';" src="/assets/images/app/YellowApps.png"
          [popoverTitle]="popover.title"
          [ngbPopover]="popover.template"
          placement="top">
      </div>
      <p>
        You are just two clicks away from rediscovering privacy.
        And the best is: <i>it is <b>completly free</b></i>. 
      </p>
      <p>
        Enjoy it!
      </p>
    </div>
  </div>
</section>