<section class="container">
  <h3>Privacy matters.</h3>
  <p>
    We are all aware about how our lives are every day more publicly exposed. 
    We understand how information is harvested from public sources like blogs, social media and click-stream.
  </p>
  <p>
    The European Parliamentary Research Service, in its document
    <a href="http://www.europarl.europa.eu/RegData/bibliotheque/briefing/2014/140771/LDM_BRI(2014)140771_REV1_EN.pdf">
    <i>“Big data: Opportunities and Privacy Concerns”</i></a> has identified how “big data” may bring privacy threats associated
    with surveillance, disclosure and discrimination.
  </p>
  <p>
    In this context, IT users start to be more critic with the information that they share with
    their providers. Even those with low technical skills know that when installing a simple
    “flash light app” requires granting access to the contact list things went way too far.
    Actually, a survey from the Global Privacy Enforcement Network (GPEN) states that most
    of mobile apps fail a privacy test.
  </p>
  <p>
    Personally, I have encountered the concerns above when looking for apps that can help
    me in simple tasks involving communication with family and friends. For example, even the
    most trustworthy applications like WhatsApp, which offers end-to-end encryption, hided a
    security flaw that could allow Facebook (the company behind WhatsApp) to read your
    messages. And this is where the idea of my project comes from. I use apps like calendars to organize
    professional activities, meetings with friends, etc. And I know how useful they are. But in
    my daily life I need to share with my wife different To-Do list: shopping, doctor
    appointments, kid's school, family events, etc. that belong to a more private sphere. I
    don't like the idea to share all that information with any company, so I refrain myself from
    using apps to organize it.
  </p>
  <p>
    I wanted to develop a system that allows everyone to share and organize private
    information ensuring that just them and the people they choose can access to it. I
    want to help them to avoid that, if they mark “chocolate ice cream” in their shopping list,
    the next time the surf the web they find tons of ice cream advertisement brought by
    Google Ads.
  </p>
  <p>
    A brief of the values / benefits this app can bring goes as follows:
  </p>
  <ul>
    <li>
      Efficiency organizing daily tasks.
    </li>
    <li>
      Fast, easy and flexible way to share information.
    </li>
    <li>
      Peaceful of mind regarding privacy.
    </li>
    <li>
      Avoid the “chilling effect” when including data in the application.
    </li>
  </ul>
  <p>
    The last two can be easily understood in the context of the aforementioned document:
  </p>
  <blockquote cite="">
    <p>
      The feeling of being constantly monitored can seriously affect people's behavior, discouraging them
      from adopting new technologies and searching for or reading certain materials over the Internet.
      Moreover, surveillance may have a "chilling effect" on free speech, as it leads to individuals suspecting
      that a trace of everything said is kept somewhere and may be used against them in the future.
    </p>
    <cite>Big data: Opportunities and Privacy Concerns</cite>
  </blockquote> 
</section>