<div class="overlay" *ngIf="message">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col h-100 d-flex flex-column 
        justify-content-center align-items-center text-center">
        <p>
            This website is a Capstone Project for the
        </p>
        <p>
          <b>Full Stack Web and Multiplatform Mobile App Development Specialization</b>
        </p> 
        <p>
          from the <i>Honk Kong University of Science and Technology.</i>            
        </p>
        <hr>
        <p>
          All its content, including the promoted app and its users, 
          is nothing but a placeholder meant for educational purposes only.
        </p>
        <p>
          The images are either self-created or available under a Creative Commons license.
        </p>
        <hr>
        <p>
          It has been tested in the latest versions of Mozilla Firefox and Google Chrome.
        </p>
        <button class="btn btn-primary" (click)="message = false">Got it!</button> 
      </div>
    </div>
  </div>
</div>