/* You can add global styles to this file, and also import other style files */

/* Import and override Bootstrap */

$blue: #03A9F4; // 3 - 169 - 244

@import "../node_modules/bootstrap/scss/bootstrap.scss";


/* Variables */

$primary-color: $blue;
$light-primary-color: #B3E5FC;
$accent-color: #CDDC39;
$background-dark: #303030;
$primary-text: #212529;
$soft-text: #808080;

$footer-height: 240px;

/* General */

body {
  position: relative;
  min-height: calc( 100vh - #{$footer-height} ); // Flushing footer
}
