
<header class="d-flex align-items-center flex-column justify-content-center text-white">
  <h1>Private Sharing</h1>
  <p>For you.</p>
  <p>For those you choose.</p>
  <p>For no one else.</p>
</header>

<section class="container-fluid features">

  <div class="row align-items-center">
    <div class="d-flex col-sm-6 order-sm-2 col-md-5 justify-content-center">
      <img src="/assets/images/encryption/storage.png" alt="Encrypted storage">
    </div>
    <div class="col-sm order-sm-1 col-md-5 offset-md-1">
      <h2 class="mt-0">Encrypted storage</h2>
      <p>Don't worry if someone gets access to your device: 
        all the information that you add to the app is automatically encrypted.</p>
      <p>We take care of it, you just need to choose a strong password.</p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="d-flex col-sm-6 col-md-5 offset-md-1 justify-content-center">
      <img src="/assets/images/encryption/transmission.png" alt="Encrypted transmission">
    </div>
    <div class="col-sm col-md-5">
      <h2 class="mt-0">Encrypted transmission</h2>
      <p>All the messages that you send through the app are also encrypted.</p>
      <p>Even in the case that the communication is somehow intercepted, the eavesdropper 
        would see just gibberish.</p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="d-flex col-sm-6 order-sm-2 justify-content-center">
      <img src="/assets/images/encryption/server.png" alt="Server-free">
    </div>
    <div class="col-sm order-sm-1 col-md-5 offset-md-1">
      <h2 class="mt-0">Server free</h2>
      <p>PrivateSharing features peer-to-peer (P2P) connections.</p>
      <p>You don't need to rely anymore on a third-party service to share your data. 
        Of course, you can use the app with a server if you choose to do so.
      </p>
    </div>
  </div>
</section>

<section class="container-fluid users">
  <div class="row">
    <div class="col">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="/assets/images/users/user-1.png" alt="Beatrice Bridwell">
          <div class="carousel-caption">
            <h3>Beatrice Bridwell</h3>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-quote-left"></i>            
              <div class="d-inline-block">
                <p>Thumbs up!</p>
                <p>My private data is no one else business.</p>
              </div>
              <i class="fa fa-quote-right"></i>              
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/images/users/user-2.png" alt="Willie Wyble">
          <div class="carousel-caption">
            <h3>Willie Wyble</h3>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-quote-left"></i>            
              <div class="d-inline-block">
                <p>Great news!</p>
                <p>This app means peace of mind!</p>
              </div>
              <i class="fa fa-quote-right"></i>              
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/images/users/user-3.png" alt="Miranda Markey">
          <div class="carousel-caption">
            <h3>Miranda Markey</h3>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-quote-left"></i>            
              <div class="d-inline-block">
                <p>Thank you for this amazing app!</p>
                <p>It is just what I was looking for.</p>
              </div>
              <i class="fa fa-quote-right"></i>              
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</section> 